<div class="d-flex align-items-center justify-content-center">
  <div class="w-75 mt-5">
    <%= form_with model: article do |form| %>
      <% if article.errors.any? %>
        <div class="mb-2 border rounded">
          <ul class="mt-3"><% article.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :title, class: 'mb-2' %>
        <%= form.text_field :title, class: 'form-control', id: 'title' %>
      </div>
      <div class="mb-3">
        <%= form.label :body, class: 'mb-2' %>
        <%= form.text_area :body, class: 'form-control', id: 'body' %>
      </div>
      <div>
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
