<h1 class="m-2">Articles</h1>
<div class="mt-2" style="display: block;">
  <div style="position: absolute; right: .5rem;">
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center">
  <div class="w-75 mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @article.each do |article| %>
          <tr>
            <td class="align-middle"><%= article.id %></td>
            <td class="align-middle"><%= article.title %></td>
            <td class="align-middle">
              <div class="d-flex justify-content-center">
                <%= link_to 'View', article, class: 'btn btn-light me-2' %>
                <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning me-2' %>
                <%= button_to 'Destroy', article_path(article), method: :delete, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
